/* Header.css */

.Header-text {
    color: #5f5f5f; /* Change the color */
    text-align: center; /* Center the text */
    margin-top: 50px;
    padding: 1em; /* Add some padding */
    background-color: #f2f2f2; /* Add a background color */
    border-radius: 1em; /* Round the corners */
    font-family: 'Arial', sans-serif; /* Change the font */
    text-transform: uppercase; /* Make the text uppercase */
    letter-spacing: 0.5em; /* Increase the spacing between letters */
    transition: color 0.3s ease; /* Add a transition effect */
  }
  
  .Header-text:hover {
    color: #000000; /* Change the color on hover */
  }

  /* If the width of the viewport is 600px or less, set the margin-top to 20px */
  @media (max-width: 600px) {
    .Header-text {
      margin-top: 20px;
    }
  }
  
  /* If the width of the viewport is 900px or less, set the margin-top to 30px */
  @media (max-width: 900px) {
    .Header-text {
      margin-top: 30px;
    }
  }
