/* SearchInput.css */

/* Styles for the main container of the input field */
.input-container {
  text-align: center; /* Center the text and the placeholder */
  position: relative; /* Position the container relative to its normal position */
  border: none; /* Remove the default border */
  outline: none; /* Remove the default outline */
  font-size: 1em; /* Set the font size to a readable size */
  width: 80%; /* Set the width to 80% of the parent element */
  background-color: #4e4e4e; /* Set a dark grey background */
  padding: 0.2em; /* Add some padding around the content */
  margin: 0.5em auto; /* Center the container horizontally and add some vertical spacing */
  border-radius: 25px; /* Add rounded corners */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a 3D effect */
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center the children horizontally */
  align-items: center; /* Center the children vertically */
  color: #fff; /* white text */
}

/* Styles for the container of the search icon */
.icon-container {
  padding-right: 10px; /* Add some spacing to the right of the search icon */
}

/* Styles for the container of the input field */
.input-field-container {
  width: 100%; /* Set the width to 100% of the parent element */
}

/* Styles for the input field */
.input-container input {
  text-align: center; /* Center the text and the placeholder */
  width: 100%; /* Set the width to 100% of the parent element */
  font-size: 1em; /* Set the font size to a readable size */
  border: none; /* Remove the default border */
  outline: none; /* Remove the default outline */
  background-color: transparent; /* Make the background transparent to let the container's background show through */
  border-radius: 20px; /* Add rounded corners */
  color: #fff; /* white text */
}

/* Styles for the placeholder text in the input field */
.input-container input::placeholder {
  color: #fff; /* Set the placeholder text to white */
}