/* The .App class styles the root component of the application. 
   It sets up a flex layout with centered alignment. */
   .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin-top: 0em;
    height: 100vh; /* Full height */
    text-align: center;
    color: #fff; /* white text */
  }