.App {
  display: flex; /* Set up a flex layout */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: top; /* Align items to the top */
  margin-top: 0em; /* No top margin */
  height: 100vh; /* Full height */
  text-align: center; /* Center the text */
  color: #fff; /* White text */
}