/* Global styles for the body element */
body {
  background-color: #333; /* dark grey */
  color: #fff; /* white text */
  margin: 0; /* remove default paddings */
  padding: 0;
  font-family: sans-serif;
}